body { background: #f5ebdc;}
main {
    padding-top: 50px;
}
h1.favor {
    padding: 20px;
    color: #550008;
    font-size: 25pt;
    font-family: Alice;
}
a.font_color {
   
}
a.font_color:active {
    color: #913039;
    font-family: Alice;
}
a.font_color:link {
    color: #550008;
    font-family: Alice;
}
a.font_color:visited {
    color: #240004;
    font-family: Alice;
}
b.font_color {
    color: #550008;
    font-family: Alice;
}
b.font_color:active {
    color: #913039;
    font-family: Alice;
}
b.font_color:link {
    color: #550008;
    font-family: Alice;
}
b.font_color:visited {
    color: #240004;
    font-family: Alice;
}
p{
    font-family: Alice;
    color: #550008;
}
h3{
    font-family: Alice;
    color: #550008;
}
h4 {
    font-family: Alice;
    color: #550008;
}
h4.likes {
    padding-left: 20px;
    padding-right: 10px;
}
img.cover {
    width: 250px;
}
div.cover {
    width: 270px;
    padding-left: 20px;
}
div.book_inf {
    padding-left: 20px;
}
div.comments {
    padding-left: 20px;
    padding-top: 20px;
}
ul.favored {
    list-style-type: none;
}
.bullet {
    margin-left: 0;
    list-style: none;
    counter-reset: li;
}
.bullet li {
    position: relative;
    margin-bottom: 1.5em;
    border: 3px solid #b29d7e;
    padding: 0.6em;
    border-radius: 20px;
    background: #FEFEFE;
    color: #231F20;
}
.bullet li:before {
    position: absolute;
    top: -0.7em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    font-size: 16px;
    font-weight: bold;
    color: #bc8b4e;
    background: #FEFEFE;
    border-radius: 50%;
    counter-increment: li;
    content: counter(li);
}
input.likefavor,
input.likefavor:hover,
input.likefavor:focus,
input.likefavor:visited,
input.likefavor:active{
    background-color: #f1d8b9;
    color: #550008;
    font-family: Alice;
    font-size: 10pt;
    cursor: pointer;
    outline: none;
    border: 0 !important;
    border-radius: 20px;
}