.btn-primary {
    background-color: #a87c60;
    color: #432507;
    font-family: Alice;
    font-size: 20pt;
    box-shadow: 0px 5px 10px;
    cursor: pointer;
    outline: none;
    border: 0 !important;
    border-radius: 20px 20px 20px 20px;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:visited,
.btn-primary:active{
    background-color: #886149;
    color: #2c1609;
    border: 0 !important;
}
body {
    background: #391b0c url("../Assets/UPProjectGreetingPage.jpg");
    background-size: cover;
}
.font_style {
    color: #965e28;
    font-family: Alice;
    font-size: 30pt;
}
div {
    padding-top: 70px;
}
a{
    padding: 7px 7px 7px 7px;
}