@model Project33.Services.Models.Books

@{
    ViewBag.Title = "title";
    Layout = "_MainPageLayout";
}

<h3>@Html.DisplayFor(model=>model.name)</h3>
<td><p>@Html.DisplayFor(model=>model.description)</p></td>
<td>Лайки:</td>
<td><p>@Html.DisplayFor(model =>model.likes)</p></td>



