@model Project33.Services.Models.Books

@{
    ViewBag.Title = "title";
    Layout = "_UserPageLayout";
}

<h3>@Html.DisplayFor(model=>model.Name)</h3>
    <td><p>@Html.DisplayFor(model=>model.Description)</p></td>
