@model IEnumerable<Project33.Services.Models.Favorites>

@{
    ViewBag.Title = "title";
    Layout = "_MainPageLayout";
}
<h1>Избранное</h1>
@foreach (var f in Model)
{
    <p><b>@Html.ActionLink(@f.book_name, "BookPage", "Books", new {id = f.book_id}, new {@class = "font_color"})</b></p>
}