@model IEnumerable<Project33.Services.Models.Favorites>

@{
    ViewBag.Title = "title";
    Layout = "_MainPageLayout";
}

    <link rel="stylesheet" type="text/css" href="~/css/BookPageStyle.css">


<h1 class="favor">Ваше избранное:</h1>
<ol class="bullet">
   @foreach (var f in Model)
   {
       <li><b>@Html.ActionLink(@f.book_name, "BookPage", "Books", new {id = f.book_id}, new {@class = "font_color"})</b></li>
   } 
</ol>